
body{
    color: #ffffff;
    background-color: #333333;
}

.research-field{
    background-color: #464646;
    border-color: black;
    height: 50px;
}

.container-custom
{
    position: relative;
    text-align: center;
}

.register-custom{
    padding-top: 20px;
    width: 50vh;
}

.color-custom{
    color: #6e3232;
}
.color-custom:hover{
    color: #b6b6b6;
}

@media (max-width: 991px) {
    .navbar-custom{
        text-align: center;
        align-items: center;
    }
}
@media (max-width: 490px ){
    .register-custom{

        width: 90%;
    }
}

@media (max-width: 767px) {
    .custom-img-width{
        width: 70% !important;
    }

}

input, .actual-edit-overlay {
    -webkit-text-fill-color: #bbbbbb !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1001px #1b1b1b inset !important;
    -webkit-text-fill-color: #888888 !important;
}

.research-field:focus{
    background-color: #3b3b3b;
    border-color: black;
    color: grey;

}

.custom-submit:hover{
    color: #c5c3c3;
    background-color: #595959;
}

.custom-logout:hover{
    background-color: #faadb0;
}

.custom-submit{
    color: #c5c3c3;
    background-color: #777777;
    width: 100%;
    margin-top: 10px;
}


/*Page disponibilités*/

.custom-availability-container{
    width: 30vw;
}



@media (max-width: 1835px) {
    .custom-availability-container{
        width: 50%;
    }
}
@media (max-width: 1200px) {
    .custom-availability-container{
        width: auto;
    }
}

@media (max-width: 467px) {
    .custom-center{
        align-items: end;
    }
}

.custom-center{
    text-align: center;
}


.select {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ddd;
    list-style: none;
}

.select::-webkit-details-marker {
    display: none;
}

details[open] .select:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

.select:after {
    content: '';
    display: inline-block;
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms
}

.select:focus {
    outline: none;
}

details[open] .select:after {
    transform: rotate(-45deg) translate(0%, 0%);
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.vertical-align-custom{
    margin-top: auto;
    margin-bottom: auto;

}
.availability-container{
    padding-left: 10%;
    padding-right: 10%;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
    background-color: #2196F3;
    box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after {
    display: block;
}

@keyframes checkAnim {
    0% {
        height: 0;
    }

    100% {
        height: 10px;
    }
}

.custom-checkbox:checked ~ .checkmark:after {
    animation: checkAnim 0.2s forwards;
}

.day-schedule {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.hours select:disabled {
    background-color: #e9ecef;
    color: #6c757d;
}

.hours select {
    margin: 0 0.5rem;
}

/* */
#calendar {
    width: 100%; /* Largeur par défaut pour les petits écrans */
}


#dateSelector {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dateContainer div {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Ajoutez plus de styles CSS selon vos besoins */

.time-slot {
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.time-slot:hover {
    background-color: #e0e0e0;
}


