<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}RpNails63{% endblock %}</title>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    <link href="{{ asset('assets/css/rpNails63.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/rpNails63.js') }}"></script>

</head>
<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>